:root {
    --darkpurple: #444053;
    --mediumpurple: #4e4a5f;
    --lighterpurple: #5c5770;
    --darkpurpletrans: #444053a8;
    --niceblue: #6C63FF;
    --notwhite: #E6E6E6;
    --lightblue: #F0EFFF;
    --whitestwhite: #ffffff;
    --maybepink: #F0EFFF;
    --colorfulgray: #67647E;
    --kindofred: #CC818C;
    --darkerred: #A0616A; 
    --nicePink: #FDC2CC;

    --dark_theme_darkpurple: #293241;
    --dark_theme_layered_purple: #303A4B;
    --dark-theme-fish-blue: #DFFBFC;

}

/* scrollbar */

html {
    --scrollbarBG: var(--dark_theme_darkpurple);
    --thumbBG: #6C63FF;
  }
  body::-webkit-scrollbar {
    width: 11px;
  }
  body {
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  }
  body::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
  }
  body::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG) ;
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
  }






  
/* navbar */
  header .dark_toggle {
      background: var(--dark_theme_darkpurple);
  }
/* navbar not_active text */
  header .dark_toggle span {
      color: var(--lightblue);
      transition: all 1s;
  }

  header .dark_toggle span:hover {
      color: var(--whitestwhite);
      text-shadow: 0px 0px 20px #3e4b61cc;
      transition: all 1s;
  }

  /* navbar active text */

  header .dark_toggle span.active {
    color: var(--niceblue);
    text-shadow: 0 0 20px var(--dark_theme_layered_purple);
}



/* index_rectangle */

.index_rectangle .dark_toggle {
    fill: var(--dark_theme_darkpurple);
}


html .dark_toggle:nth-child(2) {
    background-color: var(--dark_theme_darkpurple);
}


/* wave */

.wave_controller {
  position: relative;
  height: 100%;
  left: 0;
  overflow: hidden;
  width: 100%;
}
.modernWave {
  overflow: hidden;
  position: relative;
  left: 0;
  
}


#pages_section .dark_comp .wave_controller {
  visibility: hidden;
}
#pages_section .dark_toggle .wave_controller {
  visibility: visible !important;
}
#wave_controller {
  top: 1vh !important;
}

#wave_2_controller {
  top: -10vh !important;
}
@media screen and (max-width: 500px) {
  #wave_2_controller {
    top: -1vh !important;
  }
}
@media screen and (max-width: 800px) {
  #wave_2_controller {
    top: -5vh !important;
  }
}
@media screen and (min-width: 1200px) {
  #wave_2_controller {
    top: -11vh !important;
  }
}
@media screen and (min-width: 1360px) {
  #wave_2_controller {
    top: -17vh !important;
  }
}
@media screen and (min-width: 1600px) {
  #wave_2_controller {
    top: -19vh !important;
  }
}

/* pages */

#pages_section .dark_toggle #page3 {
  background-color: var(--dark_theme_layered_purple);
}

.pages_content  .dark_toggle h2 {
  color: var(--dark-theme-fish-blue);

}

.pages_content .dark_toggle .Topic_text {
  background: none;
  color: var(--lightblue);
  padding-left: 0;
  
}

/* mobile highlight */

@media screen and (max-width: 1200px) {
  .pages_content .dark_toggle .page_about {
    background-color: var(--dark_theme_layered_purple) !important;
  }
  .pages_content .dark_toggle .Topic_text {
    padding-left: 2vw;
  }
}


/* arrows */

#pages_section .dark_toggle .arrow {
  visibility: hidden;
}


/* footer */

#pages_section .dark_toggle:only-child {
  background-color: var(--whitestwhite);
}

.inner_footer .dark_toggle a {
    color: var(--dark-theme-fish-blue);
    transition: color 1s, text-shadow 0.5s;
}

.inner_footer .dark_toggle a:hover, .inner_footer .dark_toggle li .fab:hover{
    color: var(--notwhite);
    text-shadow: 0 0 5px var(--notwhite);
    transition: color 0.15s, text-shadow 0.5s;
}

.inner_footer .dark_toggle li .fab {
    color: var(--dark-theme-fish-blue);
    transition: color 1s, text-shadow 0.5s;
}


/*----------                   ----------- */



/*---------- Kontakt exklusive ----------- */



/*----------                   ----------- */



html .dark_toggle .contact_rectangle_svg {
  fill: var(--dark_theme_darkpurple);
}

/* header */

.contact-form-body .dark_toggle .Form-title {
  color: var(--lightblue);
}

/* textbox */

.fcf-form-group .dark_toggle .fcf-form-control {
  background-color: var(--dark-theme-fish-blue);
}

.fcf-form-group .dark_toggle .fcf-form-control {
  background-color: var(--dark-theme-fish-blue);
}


.fcf-form-group .dark_toggle .fcf-form-control:focus {
  border-color: var(--kindofred);
  box-shadow: 0 0 20px var(--darkpurpletrans);
}

#fcf-form-id .dark_toggle .fcf-btn-primary {
  background-color: var(--lighterpurple);
  box-shadow: 0 0 20px var(--darkpurpletrans);
}
#fcf-form-id .dark_toggle .fcf-btn-primary:hover {
  background-color: var(--kindofred);
  box-shadow: 0 0 20px var(--darkerred);
}

/* contact links */

.links_arrange .dark_toggle .contactlinks {
  color: var(--maybepink);
}


.links_arrange .dark_toggle .kontakt_icon {
  color: var(--kindofred);
}