:root {
    --darkpurple: #444053;
    --darkpurpletrans: #444053a8;
    --niceblue: #6C63FF;
    --notwhite: #E6E6E6;
    --lightblue: #F0EFFF;
    --whitestwhite: #ffffff;
    --maybepink: #F0EFFF;
    --colorfulgray: #67647E;
    --kindofred: #CC818C;
    --darkerred: #A0616A; 
    --nicePink: #FDC2CC;
    scrollbar-color: rgb(0, 0, 0) rgb(0, 0, 0)  !important;
}

.footer > * {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.footer {
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 2.5vh 0;
    width: 100%;
    display: block;
    box-sizing: border-box;
    background-color: var(--darkpurple);
    overflow: hidden;
}

.inner_footer {
    display: inherit;
    margin: 0 auto;
    width: 70vw;
    height: 100%;
}

.inner_footer .logo_container {
    width: 35%;
    float: left;
    height: 100%;
    display: inherit;
}

.inner_footer .footer_third {
    width: calc(21.67% - 20px);
    margin-right: 10px;
    float: left;
    height: 100%;

}

.inner_footer .footer_third:last-child {
    margin-right: 0;
}

.inner_footer .footer_third h1 {
    font-size: 1.5vw;
    font-family: rockwell-nova,sans-serif;
    font-weight: 400;
    color: var(--notwhite);
    display: block;
    width: 100%;
    margin-bottom: 10px;
}
a {
    font-size: 1vw;
    font-family: rockwell-nova,sans-serif;
    font-weight: 200;
    color: var(--nicePink);
    display: block;
    width: 100%;
    padding-bottom: 5px;
    text-decoration: none; 
    transition: 1500ms ease all;
}
a:hover, .footer_third .fab:hover {
    color: var(--maybepink);
    transition: 250ms ease all;
    text-shadow: 0 0 5px var(--nicePink);
}
.inner_footer .footer_third li {
    display: inline block;
    padding: 0 5px;
    font-size: 1.5vw;
}

.footer_third .fab {
    color: var(--kindofred);
    transition: 250ms ease all;
}

@media screen and (max-width: 1200px) {
    .logo_container {
        left: 50%;
        transform: translateX(-50%);
        position: relative;
    }
    .inner_footer {
        text-align: center;
    }
    .footer .inner_footer {
        width: 90%;
    }
    .inner footer .logo_container, .inner_footer .footer_third {
        width: 100%;
        margin-bottom: 30px;
    }
    a {
        font-size: 2vw;
    }
    .inner_footer .footer_third h1 {
        font-size: 2vw;
    }
    .inner_footer .footer_third li {
        font-size: 3vw;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .inner_footer {
        text-align: center;
    }

    a, .inner_footer .footer_third h1 {
        font-size: 4vw;
    }
    .inner_footer .footer_third li {
        font-size: 7vw;
        display: block;
    }
}
