:root {
    --darkpurple: #444053;
    --mediumpurple: #4e4a5f;
    --lighterpurple: #5c5770;
    --darkpurpletrans: #444053a8;
    --niceblue: #6C63FF;
    --notwhite: #E6E6E6;
    --lightblue: #F0EFFF;
    --whitestwhite: #ffffff;
    --maybepink: #F0EFFF;
    --colorfulgray: #67647E;
    --kindofred: #CC818C;
    --darkerred: #A0616A; 
    --nicePink: #FDC2CC;
    scrollbar-color: rgb(0, 0, 0) rgb(0, 0, 0)  !important;
}


.cool_font {
    font-family: rockwell-nova,sans-serif;
    font-weight: 300;
}

body {
    background-color: var(--darkpurple);
    height: 100%;
}

#impressum_content_wrapper {
    position: relative;
    min-height: 100%;
    margin-bottom: 20vw;
}

.back_arrow {
    position: relative;
    float: left;
    top: 90px;
    left: 25px;
}

.impressum_content {
    width: 100%;
    margin-top: 7rem;
    position: relative;
}

.btn {
    position: relative;
    left: 50% !important;
    transform: translateX(-50%) !important;
    margin-top: 30px !important;
    margin-bottom: 80px !important;
    padding: 1rem 5rem ;
    font-size: 1rem !important;
}

.Titel {
    margin-bottom: 10vh !important;
    position: relative;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 !important;
}

.text_wrapper:first-child {
    margin-top: 20px;
}

.text_wrapper {
    position: relative;
    background-color: var(--mediumpurple);
    width: fit-content;
    max-width: 60%;
    height: auto;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 50px;
    padding: 2vw;
    border-radius: 1.5vw;
    top: -3vw;
    box-shadow: 1px 2px 15px var(--mediumpurple);
    transition: all 250ms;
}

.text_wrapper:hover {
    transition: all 250ms;
    background-color: var(--lighterpurple);
    box-shadow: 1px 2px 20px var(--lighterpurple);
}

.extra_Topic_text {
    color: var(--lightblue);
    position: relative;
    text-align: center;
    font-size: 1.4rem;
    margin: 0.5rem;
}

.extra_Topic_text a, .block_text a, .text_wrapper a {
    font-size:1rem;
    position: relative;
    text-align: center;
}

.extra_Topic_text:hover {
    text-shadow: 5px 10px 20px var(--lighterpurple);
    transition: all 250ms;
    color: var(--lightblue);
}

.block_text {
    text-align: center;
    color: var(--notwhite);
    font-size: 1rem;
}

.block_text a {
    margin-top: 10px;
}

.text_wrapper a {
    text-align: center;
    position: relative;
}

.fab {
    position: relative;
}

@media screen and (max-width: 1200px) {
    .extra_Topic_text, .extra_Topic_text a {
        font-size: 1rem;
    }
    .btn {
        margin-bottom: 5vh !important;
        visibility: visible !important;
    }
}

@media screen and (max-width: 700px) {
    .email_link {
        text-indent: -9999px;
        line-height: 0;
    }
    .email_link::after {
        content: "E-mail";
        text-indent: 0;
        display: block;
        line-height: initial;
    }
    .btn {
        padding: 0.6rem 2rem;
    }
    .extra_Topic_text, .extra_Topic_text a {
        font-size: 0.8rem ;
    }
    .block_text {
        font-size: 0.6rem;
    }
    .Titel {
        font-size: 10vw ;
    }
    .impressum_content {
        margin-top: 5rem !important;
    }
}