:root {
    --darkpurple: #444053;
    --darkpurpletrans: #444053a8;
    --niceblue: #6C63FF;
    --nicebluetrans: #6b63ff4b;
    --notwhite: #E6E6E6;
    --lightblue: #F0EFFF;
    --whitestwhite: #ffffff;
    --maybepink: #F0EFFF;
    --colorfulgray: #67647E;
    --kindofred: #CC818C;
    --darkerred: #A0616A; 
    --nicePink: #FDC2CC;
    scrollbar-color: rgb(0, 0, 0) rgb(0, 0, 0)  !important;
}

.center-center {
    display: flex;
    position: relative;
    align-items: center;
    justify-content:center;
}



.font_rockwell_nova {
    font-family: rockwell-nova,sans-serif;
    font-weight: 400;
    font-size: 4vw;
    font-style: normal;
}

/* -- Titleheader container für title und subtitle -- */
/* Titleheader für Kontakt */

.titelheaderContact {
    position: absolute;
    left: 0px;
    top: -10px;
    height: 707px;
    width: 100%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-image: url("artwork/contact_artwork.png");
    background-size: contain;
    background-color: var(--darkpurple);
    z-index: -1;
}

/* mobile version of header, blends in */
.mobile_header {
    position: absolute;
    top: 10vh;
    left: 50%;
    transform: translateX(-50%);
    color: var(--whitestwhite);
    font-size: 15vw;
    visibility: hidden;
}

/* white space */

.contact_rectangle {
    left: 0px;
    top: 50%;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    position: absolute;
}

.content {
    position: relative;
    top: 60vh;
    width: 80vw;
    left: 10vw;

}

p {
    margin: 0;
    padding: 0;
    float: left;
}

.contact_info {
    position: relative;
    width: fit-content;
    height: min-content;
    margin-top: 5vh;
    left: 50%;
    transform: translateX(-50%);
}

.contactlinks {
    padding-left: 1vw;
    font-size: 2vw;
    position: relative;
    width: fit-content;
    height: fit-content;
    color: var(--darkpurple);
    transition: all 0.25s;
    margin: 0;
}
.contactlinks:hover {
    color: var(--niceblue);
    text-shadow: 0 0 10px var(--nicebluetrans);
    transition: all 0.25s;
}

.links_arrange {
    position: relative;
    float: left;
    top: 0vh;
}
.fa-instagram-square, .fa-discord, .fa-envelope, .fa-poll {
    font-size: 4vw !important;
    padding: 0;
}
.fa-envelope {
    font-size: 3.5vw !important;
}
.fa-poll {
    top: -0.5vh;
}
.mouse_pointer {
    cursor: pointer;
}

.kontakt_icon {
    color: var(--niceblue);
    font-size: 3rem;
    position: relative;
}

.qr_code {
    position: relative;
    right: 0;
}

@media screen and (max-width: 1000px) {
    .contactlinks {
        visibility: hidden;
        font-size: 0%;
    }
    .links_arrange {
        float: none;
    }
    .kontakt_icon {
        left: 50%;
        transform: translateX(-50%);
    }
    .contact_rectangle {
        top: 30%;
    }
    .titelheaderContact {
        background-image: var(--darkpurple);
    }
    .mobile_header {
        visibility: visible;
    }
    .content {
        top: 35vh;
    }
    .qr_code {
        visibility: hidden;
    }
    .fa-instagram-square, .fa-discord, .fa-envelope, .fa-poll {
        font-size: 7vw !important;
    }
    .fa-envelope {
        font-size: 6.4vw !important;
    }
}
@media screen and (max-width: 900px) {
    .fa-instagram-square, .fa-discord, .fa-envelope, .fa-poll {
        font-size: 8vw !important;
    }
    .fa-envelope {
        font-size: 7.4vw !important;
    }
}
@media screen and (max-width: 400px) {
    .fa-instagram-square, .fa-discord, .fa-envelope, .fa-poll {
        font-size: 15vw !important;
    }
    .fa-envelope {
        font-size: 14.4vw !important;
    }
}