:root {
    --darkpurple: #444053;
    --darkpurpletrans: #444053a8;
    --niceblue: #6C63FF;
    --notwhite: #E6E6E6;
    --lightblue: #F0EFFF;
    --whitestwhite: #ffffff;
    --maybepink: #F0EFFF;
    --colorfulgray: #67647E;
    --kindofred: #CC818C;
    --darkerred: #A0616A; 
    scrollbar-color: rgb(0, 0, 0) rgb(0, 0, 0)  !important;
}

body {
    background-color: var(--darkpurple);
}
/* -- navbar -- */


.navbar {
    height: 100px;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: var(--whitestwhite);
    overflow: visible;
    position: fixed;
    z-index: 100;
    box-shadow: 0 3px 6px #0000002c;
}
.navbar a {
    font-family: rockwell-nova,sans-serif;
    font-weight: 400;
    font-size: 40px;
    font-style: normal;
    position: relative;
    left: 50px;
    top: 22px;
    padding: 14px 16px;
    text-decoration: none;
    color: var(--darkpurple);
}
.navbar a:hover {
    transition: color text-shadow 0.5s ease;
    color: var(--niceblue);
    text-shadow: 0px 0px 20px #6b63ff7a;
    
}
.navbar a.active {
    color: var(--niceblue);
}

/* --------------------------------------------------------------- */

/* ----------------------------- */
/* ---------  Index ------------ */
/* ----------------------------- */

/* -- Titleheader container für title und subtitle -- */
/* Titleheader für Index */
.titelheader {
    position: float-left;
    overflow: hidden;
    position: absolute;
    height: 1398px;
    width: 2261px;
    top: 100px;
}

/* Index- Jugendbeirat Neustadt titel */

.Titel {
    position: relative;
    left: 6%;
    margin-top: 60px;
    color: var(--lightblue);
    font-family: rockwell-nova,sans-serif;
    font-weight: 400;
    font-size: 90px;
    font-style: normal;
}

/* blaues rechteck zwischen title und subtitle */
.rect {
    width: 1327px;
    height: 17px;
    background-color: var(--niceblue);
    position: relative;
    border-radius: 17px;
    top: 210px;
    left: 110px;

}
/* junge menschen machen politik */
.subtitel {
    position: relative;
    left: 6%;
    margin-top: -10px;
    color: var(--lightblue);
    font-family: rockwell-nova,sans-serif;
    font-weight: 400;
    font-size: 40px;
    font-style: normal;
}

/* Neustadt bg pic  */
.picture {
    overflow: hidden;
    position: absolute;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    left: 0px;
}
.neustadtpic {
    background-image: url("images/Bremen\ pic.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.2;
    height: 1398px;
    width: 2261px;
    left: 0px;
}

/* wave */

.index_wave {
    position: absolute;
    top: 1150px;
    left: 0px;
    width: 100%;
    overflow: visible;
}
.index_rectangle {
    left: 0px;
    top: 1150px;
    height: 3000px;
    background-color: var(--whitestwhite);
    margin-top: -5px;
    overflow: visible;
    width: 100%;
    position: absolute;
}
/* discord btn */

.discord_join_btn {
    z-index: 10;
    position: absolute;
    left: 110px;
    top: 500px;
    color: var(--niceblue);
    background: var(--whitestwhite);
    font-family: rockwell-nova,sans-serif;
    font-style: regular;
    font-size: 36px;
    padding: 15px 60px;
    border-radius: 76px;  
    border: none;
    transition: all 0.25s;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.335);
    cursor: pointer;
}
.discord_join_btn:hover {
    background: var(--niceblue);
    color: var(--lightblue);
}


/* --------------------------------------------------------------- */


/* ----------------------------- */
/* -------  Mitmachen  --------- */
/* ----------------------------- */

/* -- Titleheader container für title und subtitle -- */
/* Titleheader für Mitmachen */
.titelheaderjoin {
    position: float-left;
    aspect-ratio: auto;
    position: absolute;
}

/* --------------------------------------------------------------- */


/* ----------------------------- */
/* --------  Kontakt ----------- */
/* ----------------------------- */

/* -- Titleheader container für title und subtitle -- */
/* Titleheader für Kontakt */

.titelheaderContact {
    position: absolute;
    left: 0px;
    height: 707px;
    width: 2012px;
    background-repeat: no-repeat;
    background-image: url("artwork/contact_artwork.png");
    background-size: 90%;
    z-index: -1;
}

.whitebackdrop {
    top: 500px;
    position: relative;
}
.whitrect {
    top: 500px;
    width: cover;
    height: 3000px;
    background-color: var(--whitestwhite);
    margin-top: -5px;
    overflow: hidden;
    position: relative;
}

.contactlinks {
    font-family: rockwell-nova,sans-serif;
    font-weight: 400;
    font-size: 40px;
    font-style: normal;
    margin-left: 300px;
    padding: 0px;
}

.discordicon {
    position: absolute;
    left: 210px;
    top: 40px;
}