:root {
    --darkpurple: #444053;
    --darkpurpletrans: #444053a8;
    --niceblue: #6C63FF;
    --notwhite: #E6E6E6;
    --lightblue: #F0EFFF;
    --whitestwhite: #ffffff;
    --maybepink: #F0EFFF;
    --colorfulgray: #67647E;
    --kindofred: #CC818C;
    --darkerred: #A0616A; 
    --nicePink: #FDC2CC;
    scrollbar-color: rgb(0, 0, 0) rgb(0, 0, 0)  !important;
}

/* scrollbar */

html {
    --scrollbarBG: #ffffff;
    --thumbBG: #6C63FF;
  }
  body::-webkit-scrollbar {
    width: 11px;
  }
  body {
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  }
  body::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
  }
  body::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG) ;
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
  }




/* smooth scrolling effect */

html {
    scroll-behavior: smooth;
}
@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}


/* fonts */

.font_rockwell_nova {
    font-family: rockwell-nova,sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* -- navbar -- */


.navbar {
    height: 0px;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: var(--whitestwhite);
    overflow: hidden;
    position: fixed;
    z-index: 100;
    box-shadow: 0 3px 6px #0000002c;
    transition: 0.5s ease;
}
.navbar a {
    font-family: rockwell-nova,sans-serif;
    font-weight: 400;
    font-size: 40px;
    font-style: normal;
    position: relative;
    left: 50px;
    top: 22px;
    padding: 14px 16px;
    text-decoration: none;
    color: var(--darkpurple);
}
.navbar a:hover {
    transition: color text-shadow 0.5s ease;
    color: var(--niceblue);
    text-shadow: 0px 0px 20px #6b63ff7a;
}
.navbar a.active {
    color: var(--niceblue);
    text-shadow: 0 0 20px var(--lightblue);
}
@media screen and (max-width: 600px) {
    .navbar a {
        font-size: 7vw;
        left: 3vw;
        top: 1vh;
    }
}
/* menu icon */


.menu_icon {
    cursor: pointer;
    position: fixed;
    top: 3vh;
    right: 5vw;
    z-index: 1000;  
}


.bar1, .bar2, .bar3 {
    width: 43px;
    height: 7px;
    border-radius: 13px;
    background-color: var(--nicePink);
    margin: 8px 0;
    transition: all 0.4s;
    box-shadow: 0px 3px 6px #00000018;
}
.bar2 {
    width: 40px;
}
.bar3 {
    width: 37px;
}
.menu_icon:hover > * {
    width: 45px;
}


/* rotation */

.change .bar1 {
    -webkit-transform: rotate(45deg) translate(-9px, 10px);
    transform: rotate(-45deg) translate(-9px, 10px);
    width: 45px;
    background-color: var(--darkerred);
}

/* fade out sec bar */

.change .bar2 {
    opacity: 0;
    width: 45px;
}

/* rotate 3rd bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -12px);
    transform: rotate(45deg) translate(-10px, -12px);
    width: 45px;
    background-color: var(--darkerred);
}
/* cross hover anim */


/* --------------------------------------------------------------- */

/* ----------------------------- */
/* ---------  Index ------------ */
/* ----------------------------- */

html {
    margin: 0px;
    min-height: 100vh;

 }
 
 body {
    margin: 0px;
 }


/* Neustadt bg pic  */
.picture {
    overflow: hidden;
    position: absolute;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    left: 0;
    top: 0;
}
.neustadtpic {
    background-image: url("images/Bremen\ pic.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 110vh;
}

/* -- Titleheader container für title und subtitle -- */
/* Titleheader für Index */
.titelheader {
    position: absolute;
    max-width: 80vw;
    max-height: 50vw;
    left: 7%;
    top: 8vh;
    align-content: center;
    align-self: center;
}

.Titel {
    position: relative;
    max-width: fit-content;
    margin-left: 2%;
    margin-top: 60px;
    color: var(--lightblue);
    font-family: rockwell-nova,sans-serif;
    font-weight: 400;
    font-size: 5vw;
    font-style: normal;
}

.subtitel {
    position: relative;
    width: fit-content;
    margin-left: 2%;
    color: var(--lightblue);
    font-family: rockwell-nova,sans-serif;
    font-weight: 400;
    font-size: 2vw;
    font-style: normal;
}

/* blaues rechteck zwischen title und subtitle */
.rect {
    position: relative;
    width: 70%;
    height: 1vw;
    border-radius: 17px;
    background-color: var(--niceblue);
}

/* discord btn */
.btn {
    position: relative;
    margin-top: 6%;
    border: none;
    cursor: pointer;
    padding: 1vw 4vw;
    border-radius: 76px;  
    transition: all 0.25s;
    font-family: rockwell-nova,sans-serif;
    font-style: regular;
    font-size: 2vw;
    color: var(--niceblue);
    background: var(--whitestwhite);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.335);
}

@media screen and (max-height: 600px) {
    .btn {
        visibility: hidden;
    }

}

.btn:hover{
    background: var(--niceblue);
    color: var(--lightblue);
}

/* -------------------------------- */
/* white space */
.index_rectangle {
    left: 0px;
    top: 100%;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    position: absolute;
}

@media screen and (min-width: 1921px) {
    .neustadtpic {
        height: 140vh;
    }
    .btn {
        font-size: 1.5vw;
        padding: 1vw 3vw;
        margin-top: 3%;
    }
    .titelheader {
        top: 4vh;
    }
}

#pages_section {
    position: absolute;
    overflow: hidden;
    width: 100%;
    left: 0;
    box-sizing: border-box;
    top: 100%;
}
.pages_content {
    min-width: fit-content;
}

.page {
    overflow: visible;
    width: min-content;
    position: relative;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 5vw;
    padding-bottom: 5vw;
}

#page4 {
    margin-bottom: 10vw;
}
@media screen and (max-width: 1200px) {
    .titelheader {
        left: 5vw;
        top: 5vh;
        max-width: 90vw;
        align-content: center;
    }
    .Titel {
        font-size: 7vw;
        left: 5%;
        width: fit-content;
        align-self: center;
    }
    .rect {
        align-self: center;
        width: 90%;
        left: 5%;
    }
    .subtitel {
        font-size: 4vw;
        left: 0%;
        margin-left: 0%;
        text-align: center;
    }
    .btn {
        font-size: 4vw;
        top: 3%;
        align-self: center;
        left: 23%;
        padding: 3vw 6vw;
    }
    .index_rectangle {
        top: 50%;
    }
    #page2 {
        top: 0vh;
    }
    #pages_section {
        top: 65%;
    }
    .neustadtpic {
        height: 65vh;
    }
    .page {
        padding-left: 5vw;
        padding-right: 5vw;
        padding-top: 1vw;
        padding-bottom: 3vw;
    }
}
.mouse_pointer {
    cursor: pointer;
}

/* allgemein */
.Topic_header {
    font-family: rockwell-nova,sans-serif;
    font-style: regular;
    font-weight: 400;
    position: relative;
    width: fit-content;
    font-size: 3vw;
    color: var(--niceblue);
}
.Topic_text {
    position: relative;
    font-family: rockwell-nova,sans-serif;
    font-style: regular;
    font-weight: 300;
    color: var(--darkerred);
    font-size: 1.5vw;
    top: -3vw;
    width: 40vw;
    background-color: var(--notwhite);
    padding: 2vw;
    border-radius: 1.5vw;
}

@media screen and (max-width: 1200px) {
    .Topic_header {
        font-size: 5vw;
        text-align: center;
        align-content: center;
        align-self: center;
    }
    .Topic_text {
        font-size: 4vw;
        width: fit-content;
    }
    .page {
        width: fit-content;
        align-content: center;
        align-self: center;
    }
    .page_about {
        background-color: var(--lightblue) !important;
    }
}

/* scroll arrows */

.arrow {
    position: relative;
    z-index: 90;
    left: 40%;
}

/* scroll arrow -> Page 2*/
.scroll_arrow_home_1 {
    visibility: hidden;
}

@media screen and (max-width: 1000px) {
    .scroll_arrow_home_1 {
        visibility: visible;
        top: 85vh;
        left: 44%;
    }
    .scroll_arrow_home_2  {
        display: none;
    }
    .scroll_arrow_home_3  {
        display: none;
    }
}
@media screen and (max-height: 850px) {
    .scroll_arrow_home_1 {
        visibility: hidden;
    }
}
@media screen and (min-width: 400px) {
    .scroll_arrow_home_1 {
        visibility: hidden;
    }
}
/* icon */

.icon {
    position: absolute;
    left: 100%;
    float: right;
}

.page2_icon {
    width: auto;
    height: auto;
}

@media screen and (max-width: 1000px) {
    .icon, .page2_icon, .scroll_arrow_home_2, .scroll_arrow_home_3 {
        display: none;
    }
}

/* --------------------------------------------------------------- */


/* ----------------------------- */
/* -------  Mitmachen  --------- */
/* ----------------------------- */

/* -- Titleheader container für title und subtitle -- */
/* Titleheader für Mitmachen */
.titelheaderjoin {
    position: float-left;
    position: absolute;
    top: 10%;
}

/* --------------------------------------------------------------- */




/* --------------------------------------------------------------- */


/* ----------------------------- */
/* -------  Impressum  --------- */
/* ----------------------------- */

.Impressum_Titel{
    left: 200px;
}

.back_arrow {
    position: absolute;
    float: left;
    top: 90px;
    left: 25px;
    z-index: 50;
}

.Impressum_text {
    position: absolute;
    left: 200px;
    top: 400px;
}