:root {
    --darkpurple: #444053;
    --darkpurpletrans: #444053a8;
    --niceblue: #6C63FF;
    --notwhite: #E6E6E6;
    --lightblue: #F0EFFF;
    --whitestwhite: #ffffff;
    --maybepink: #F0EFFF;
    --colorfulgray: #67647E;
    --kindofred: #CC818C;
    --darkerred: #A0616A; 
    --nicePink: #FDC2CC;
    scrollbar-color: rgb(0, 0, 0) rgb(0, 0, 0)  !important;
}

/* scrollbar */

html {
    --scrollbarBG: #ffffff;
    --thumbBG: #6C63FF;
  }
  body::-webkit-scrollbar {
    width: 11px;
  }
  body {
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  }
  body::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
  }
  body::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG) ;
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
  }




/* smooth scrolling effect */

html {
    scroll-behavior: smooth;
}
@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}


/* -- navbar -- */


.navbar {
    height: 0px;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: var(--whitestwhite);
    overflow: hidden;
    position: fixed;
    z-index: 100;
    box-shadow: 0 3px 6px #0000002c;
    transition: 0.5s ease;
}
.navbar a {
    font-family: rockwell-nova,sans-serif;
    font-weight: 400;
    font-size: 40px;
    font-style: normal;
    position: relative;
    left: 50px;
    top: 22px;
    padding: 14px 16px;
    text-decoration: none;
    color: var(--darkpurple);
}
.navbar a:hover {
    transition: color text-shadow 0.5s ease;
    color: var(--niceblue);
    text-shadow: 0px 0px 20px #6b63ff7a;
}
.navbar a.active {
    color: var(--niceblue);
    text-shadow: 0 0 20px var(--lightblue);
}

/* menu icon */


.menu_icon {
    cursor: pointer;
    position: fixed;
    top: 30px;
    left: 90%;
    margin-right: 50px;
    z-index: 1000;  
}


.bar1, .bar2, .bar3 {
    width: 43px;
    height: 7px;
    border-radius: 13px;
    background-color: var(--nicePink);
    margin: 8px 0;
    transition: all 0.4s;
    box-shadow: 0px 3px 6px #00000018;
}
.bar2 {
    width: 40px;
}
.bar3 {
    width: 37px;
}
.menu_icon:hover > * {
    width: 45px;
}


/* rotation */

.change .bar1 {
    -webkit-transform: rotate(45deg) translate(-9px, 10px);
    transform: rotate(-45deg) translate(-9px, 10px);
    width: 45px;
    background-color: var(--darkerred);
}

/* fade out sec bar */

.change .bar2 {
    opacity: 0;
    width: 45px;
}

/* rotate 3rd bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -12px);
    transform: rotate(45deg) translate(-10px, -12px);
    width: 45px;
    background-color: var(--darkerred);
}
/* cross hover anim */


/* --------------------------------------------------------------- */

/* ----------------------------- */
/* ---------  Index ------------ */
/* ----------------------------- */


/* -- Titleheader container für title und subtitle -- */
/* Titleheader für Index */
.titelheader {
    position: absolute;
    width: fit-content;
    height: 65%;
    left: 6%;
    top: 100px;
}

.Titel {
    position: relative;
    max-width: 100%;
    margin-left: 2%;
    margin-top: 60px;
    color: var(--lightblue);
    font-family: rockwell-nova,sans-serif;
    font-weight: 400;
    font-size: 90px;
    font-style: normal;
}

.subtitel {
    position: relative;
    margin-left: 2%;
    color: var(--lightblue);
    font-family: rockwell-nova,sans-serif;
    font-weight: 400;
    font-size: 40px;
    font-style: normal;
}

/* blaues rechteck zwischen title und subtitle */
.rect {
    position: relative;
    width: 70%;
    height: 17px;
    border-radius: 17px;
    background-color: var(--niceblue);
}

/* discord btn */
.discord_join_btn {
    position: relative;
    margin-top: 6%;
    border: none;
    cursor: pointer;
    padding: 15px 60px;
    border-radius: 76px;  
    transition: all 0.25s;
    font-family: rockwell-nova,sans-serif;
    font-style: regular;
    font-size: 36px;
    color: var(--niceblue);
    background: var(--whitestwhite);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.335);
}

.discord_join_btn:hover {
    background: var(--niceblue);
    color: var(--lightblue);
}

/* Neustadt bg pic  */
.picture {
    overflow: hidden;
    position: absolute;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    left: 0;
    top: 0;
}
.neustadtpic {
    background-image: url("images/Bremen\ pic.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 1398px;
    left: 0px;
}

/* -------------------------------- */
/* white space */
.index_rectangle {
    left: 0px;
    top: 100%;
    overflow: hidden;
    width: 100%;
    height: 80%;
    position: absolute;
}

/* allgemein */
.Topic_header {
    font-family: rockwell-nova,sans-serif;
    font-style: regular;
    font-weight: 400;
    position: relative;
    font-size: 99px;
    color: var(--niceblue);
}
.Topic_text {
    position: relative;
    font-family: rockwell-nova,sans-serif;
    font-style: regular;
    font-weight: 300;
    color: var(--darkerred);
    font-size: 36px;
    top: -70px;
    width: 700px;
    background-color: var(--notwhite);
    padding: 40px;
    border-radius: 30px;
}

/* scroll arrows */

.arrow {
    position: relative;
    z-index: 90;
    left: 50%;
    top: 100px;
}

/* scroll arrow -> Page 2*/
.scroll_arrow_home_1 {
    top: 85vh;
}


/* icon */

.icon {
    position: absolute;
    left: 100%;
    float: right;
    width: 100%;
}

.page2_icon {
    width: auto;
    height: auto;
}


#pages_section {
    position: absolute;
    min-width: fit-content;
    left: 0;
    box-sizing: border-box;
    top: 100%;
}

.page {
    overflow: visible;
    width: min-content;
    position: relative;
    padding: 100px;
}

/* footer */

.footer_links {
    position: relative;
    top: 100px;
    z-index: 10;
    padding: 0 10px;
    margin-right: 20px;
    float: right;
}

/* text properties */
.links {
    color: var(--lightblue);
    text-decoration: none;
    font-family: rockwell-nova,sans-serif;
    font-style: light;
    font-weight: 400;
    font-size: 20px;
    transition: 0.5s;
}
.links:hover {
    color: var(--nicePink);
    text-shadow: 0px 0px 20px var(--nicePink);
}

footer {
    position: relative;
    bottom: -220rem;
    margin-top: 5px;
}

.footer_box_svg {
    transform: scale(1,1.1);
    -moz-transform: scale(1,1.1);
    -webkit--transform: scale(1,1.1);
    -ms-transform: scale(1,1.1);
}
/* --------------------------------------------------------------- */


/* ----------------------------- */
/* -------  Mitmachen  --------- */
/* ----------------------------- */

/* -- Titleheader container für title und subtitle -- */
/* Titleheader für Mitmachen */
.titelheaderjoin {
    position: float-left;
    position: absolute;
    top: 10%;
}

/* --------------------------------------------------------------- */


/* ----------------------------- */
/* --------  Kontakt ----------- */
/* ----------------------------- */

/* -- Titleheader container für title und subtitle -- */
/* Titleheader für Kontakt */

.titelheaderContact {
    position: absolute;
    left: 0px;
    height: 707px;
    width: 100%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-image: url("artwork/contact_artwork.png");
    background-size: 100%;
    z-index: -1;
}
.whitebackdrop {
    top: 500px;
    position: absolute;
    left: 0px;
    overflow: hidden;
    width: 100%;
}
.whitrect {
    top: 900px;
    width: 100%;
    left: 0px;
    height: 3000px;
    background-color: var(--whitestwhite);
    margin-top: -5px;
    overflow: hidden;
    position: absolute;
}
.contactlinks {
    font-family: rockwell-nova,sans-serif;
    font-weight: 400;
    font-size: 40px;
    font-style: normal;
    margin-left: 300px;
    padding: 0px;
}
.discordicon {
    position: absolute;
    left: 210px;
    top: 40px;
}

/* --------------------------------------------------------------- */


/* ----------------------------- */
/* -------  Impressum  --------- */
/* ----------------------------- */

.Impressum_Titel{
    left: 200px;
}

.back_arrow {
    position: absolute;
    float: left;
    top: 90px;
    left: 25px;
    z-index: 50;
}

.Impressum_text {
    position: absolute;
    left: 200px;
    top: 400px;
}